header{
    background-color: red;
}

footer{
    background-color: lightcoral;
}

td{
    width: 200px;
    height: 200px;
    text-align: center;
}

img{
    width: 150px;
    height: 150px;
}

#cel1{
    background-color: brown;
}

#cel2{
    background-color: blue;
}

#cel3{
    background-color: aqua;
}

#cel4{
    background-color: greenyellow;
}

